<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
  <body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<!-- <li><a href="/cv">CV</a></li> -->
        		<li><a href="/blog/index">Blog</a></li>
    		</ul>
    </nav>
    {{ content }}
		<footer>
    		<ul>
        		<li><a href="mailto:v.bhute@imperial.ac.uk">Email</a></li>
        		<li><a href="https://github.com/vijeshbhute" target="_blank">GitHub</a></li>
			<li><a href="https://www.imperial.ac.uk/people/v.bhute" target="_blank">Official Webpage</a></li>
			<li><a href="https://scholar.google.com/citations?user=pIDbjjYAAAAJ&hl=en" target="_blank">Google Scholar page</a></li>
			</ul>
		</footer>
	</body>
</html>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
